body {
    background: lightgrey;
}

.header {
    height: 64px;
    line-height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #53a182 !important;
    color: white;
    text-align: center;
    z-index: 999;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 75px;
    padding-bottom: 90px;
    overflow: hidden;
}

.main-content {
    width: 43%;
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    color: #212529;
}

.slider {
    width: 100%;
    height: 100%;
    padding-right: 17px;
    box-sizing: content-box;
}

.logo {
    margin-right: 30px;
}

.search {
    width: 500px;
    margin-top: 13.5px;
}

.input-search {
    background-color: #8B7280;
    color: white;
    border-color: #8B7280;
}

.category a:hover {
    background-color: #ffc357 !important;
}

.input-search:focus {
    background-color: #8B7280;
    color: white;
    border-color: #8B7280;
    box-shadow: none;
    outline: 0 none;
}

.input-search::placeholder {
    opacity: 0.9;
    font-weight: lighter;
    color: whitesmoke !important;
}

.image-campagn-banner {
    height: 90%;
    width: 100%;
    margin-top: 5%;
}

.about {
    background: black;
    text-align: center;
}

.main-donate-layer {
    height: 600px;
}

.img-detail {
    background-position: center;
    width: 100%;
    height: 65% !important;
}

.avatar-thumbnail {
    margin-top: -100px
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .main-content {
        width: 100%;
    }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .room-title {
        font-size: 15px;
    }
}
